{
  "name" : "dfs",
  "config" : {
    "type" : "file",
    "enabled" : true,
    "connection" : "HDFS",
    "config" : null,
    "workspaces" : {
      "falkonry" : {
        "location" : "PREFIX",
        "writable" : false,
        "defaultInputFormat" : null
      },
      "tmp" : {
        "location" : "/tmp",
        "writable" : true,
        "defaultInputFormat" : null
      }
    },
    "formats" : {
      "parquet" : {
        "type" : "parquet"
      }
    }
  }
}